*{
	margin: 0px;

}
.textarea-container {
  position: relative;
  width: 10%;
  height:100%;
}

textarea, .textarea-size{
	overflow: hidden;
	height: auto;
	min-height: 0.8rem;
	white-space: normal;
	width: 100%;
	box-sizing: border-box;
	-webkit-font-size: 87.5%;
	-moz-font-size: 87.5%;
	-ms-font-size: 87.5%;
	-o-font-size: 87.5%;
	font-size: 87.5%;
}
textarea{
	height: 100%;
	resize:none;
	position: absolute;
}
.textarea-size {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}